@using lab3_App.Models
@model Computer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Szczegóły</h1>

<h2>@Html.DisplayNameFor(_ => Model.Name)</h2>
<p>@Model.Name</p>

<h2>@Html.DisplayNameFor(_ => Model.CPU)</h2>
<p>@Model.CPU</p>

<h2>@Html.DisplayNameFor(_ => Model.RAM)</h2>
<p>@Model.RAM</p>

@if (Model.GPU != null)
{
<h2>@Html.DisplayNameFor(_ => Model.GPU)</h2>
<p>@Model.GPU</p>
}

@if (Model.ManufacturerId != null)
{
<h2>@Html.DisplayNameFor(_ => Model.ManufacturerId)</h2>
<p>@Model.ManufacturerId</p>
}

@if (Model.ProductionDate != null)
{
<h2>@Html.DisplayNameFor(_ => Model.ProductionDate)</h2>
<p>@Model.ProductionDate</p>
}

<h2>@Html.DisplayNameFor(_ => Model.Created)</h2>
<p>@Model.Created</p>

<a class="btn btn-primary" asp-action="Index">Wroc</a>
