@using lab3_App.Models
@model Computer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Szczegoly</h1>

<h2>Nazwa</h2>
<p>@Model.Name</p>

<h2>Procesor</h2>
<p>@Model.CPU</p>

<h2>Ilosc RAMu</h2>
<p>@Model.RAM</p>

@if (@Model.GPU != null)
{
<h2>Karta graficzna</h2>
<p>@Model.GPU</p>
}

@if (@Model.Manufacturer != null)
{
<h2>Producent</h2>
<p>@Model.Manufacturer</p>
}

@if (@Model.ProductionDate != null)
{
<h2>Data produkcji</h2>
<p>@Model.ProductionDate</p>
}

<button class="btn btn-primary" asp-action="Index">Wroc</button>
